* {
    margin: 0px;
    box-sizing: border-box;
}

#heading {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;

}

#grt{
    margin-top: -18px;
}

#optionheading{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 220%;
    background-color: dodgerblue;
    text-align: center;
    padding: 16px;
}

#loginForm{
    border: 2px solid blueviolet;
    max-width: fit-content;
    padding: 20px;
    margin-top: -20px;
}

#sign {
    padding: 20px;
    margin-top: 60px;
    /* margin-left: 43%; */
    font-size: 200%;
    
}

#signInButton,
#signUpButton {
    padding-left: 45px;
    padding-right: 45px;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
}

#signInButton {
    border: 2px solid rgb(108, 40, 167);
    /* border-left: 0px solid transparent; */
    margin-right: -10px;
}

#signUpButton {
    border: 2px solid rgb(108, 40, 167);
}

.options{
    border: 2px solid royalblue;
    padding: 20px 10px 20px 10px;
    background-color: rgb(230, 104, 125);
    border-radius: 8px;
    font-size: 150%;
    
}
#balance{
    margin-top: 45px;
}
#transfer{
    margin-top: 20px;
}

#submitBtn{
    background-color: rgb(104, 195, 225);
    padding: 10px 20px 10px 20px ;
    border-radius: 8px;
}

#viewDiary{
    padding: 8px 16px 8px 16px ;
    border-radius: 8px;
    font-size: large;
}
th,tr,table{
    border: 1px solid black;
}

p{
    color: blue;
}
span{
    color: brown;
}

#notes{
    height: 50px;
}

hr{
    border-top: 5px solid rgb(76, 218, 173);
}
b{
    color: darkmagenta;
}

#logoutBtn{
    float: right;
    margin-top: -65px;
    margin-right:18px;
    border-radius: 8px;
    background-color: cyan;
    color: red;
    padding: 6px;
}